body {
    background-color: white;
    color: red;
    background-image: url(Liverpool.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: right top;
    margin-right: 100px;
}

h1 {
    font-family: "Copperplate", "Helvetica", sans-serif;
    text-align: top left;
}


