body {
    background-color: beige;
    color: red;
    margin-right: 50px;
}

h1 {
    font-family: "Copperplate", "Helvetica", sans-serif;
    text-align: left;
    color: red;
}

p {
    color: red;
}

h2 { 
    color: turquoise;
}


