body {
    background-color: rgb(221, 201, 156);
    color: red;
    margin-right: 50px;
}

h1 {
    font-family: "Copperplate", "Helvetica", sans-serif;
    color: red;
    text-align: left;
}

p {
    color: red;
}

h2 { 
    color: turquoise;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 201, 156);
    display: flex;
    align-items: center;
}


ul li a {
    display: block;
    color: red;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 35px;
}

ul li a:hover {
    background-color: turquoise;
}

h4 {
    font-size: 35px;
    width: 100%;
}


