body {
    background-color: rgb(221, 201, 156);
    color: red;
    margin-right: 50px;
}

h1 {
    font-family: "Copperplate", "Helvetica", sans-serif;
    text-align: left;
    color: red;
}

p {
    color: red;
}

h2 { 
    color: turquoise;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: turquoise;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}

ul li a:hover {
    background-color: turquoise
}

